[Unit]
Description=Achievement Bot for Discord

[Service]
WorkingDirectory=/home/ubuntu/DiscordAchievementBot/DiscordAchievementBot
ExecStartPre=./update.sh
ExecStart=/usr/bin/dotnet run -config=/home/ubuntu/BotConfig/AchievementConfig.xml
Restart=on-failure
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target